/node_modules
/public/build
/public/hot
/public/storage
/public/app-assets/server-uploads
/public/app-assets/pdf/sales-plans/investment-plan/
/public/app-assets/pdf/sales-plans/payment-plan/
/public/app-assets/pdf/sales-plans/qrcodes/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.well-known/acme-challenge/
horizon.log